<div class="card">
    <div class="card-body">
        @if (messages().length === 0) {
        <p>No messages yet</p>
        } @else {
        <ul class="chat">
            @for (message of messages(); track message.id) {
            <li>
                <div>
                    <span class="cat-img float-end">
                        <img class="rounded-circle" src="{{message.senderPhotoUrl || './assets/user.png'}}"
                            alt="{{message.senderUsername}}">
                    </span>
                    <div class="card-body">
                        <div class="header">
                            <small class="text-muted">
                                <span><i class="fa fa-clock-o me-1"></i>{{message.messageSent | timeago}}</span>
                                @if (!message.dateRead && message.senderUsername !== username()) {
                                <span class="text-danger">(Unread)</span>
                                }
                                @if (message.dateRead && message.senderUsername !== username()) {
                                <span class="text-success">(Read {{message.dateRead | timeago}})</span>
                                }
                            </small>
                        </div>
                        <p>{{message.content}}</p>
                    </div>
                </div>
            </li>
            }
        </ul>
        }
    </div>
    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()">
            <div class="input-group">
                <input type="text" name="messageContent" required [(ngModel)]="messageContent"
                    class="form-control input-sm" placeholder="Send a private message">
                <button [disabled]="!messageForm.valid" type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
</div>